.sidenav {
    height: 420px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    overflow-x: hidden; /* Disable horizontal scroll */
    white-space: nowrap;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  #mySidenav{
    bottom: 0; /* Stay at the top */
    z-index: 4;
  }
  #namingBox{
    bottom: 100px; /* Stay at the top */
    height: 50px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
  }
  #namingBox input{
    width: 200px;
    height: 45px;
    font-size: 25px;
  }
  #confirmNameButton{
    margin: 0;
    position: fixed;
    bottom: 100px;
    right: 50px;
    border-radius: 50%;
    background-color: #0E86D4;
    border: #0E86D4 2px solid;
    padding: 10px;
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */ 
    z-index: 1;
  }
  #discardNameButton:disabled{
    cursor: default;
  }
  #discardNameButton{
    margin: 0;
    position: fixed;
    bottom: 100px;
    right: 100px;
    border-radius: 50%;
    background-color: #FF2E2E;
    border: #FF2E2E 2px solid;
    padding: 10px;
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */ 
    z-index: 1;
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #818181;
  }
  
.activeLink{
    stroke:#00cc00 !important;
    stroke-width: 5px;
  }
  
.h1eth0,.h2eth0,.h3eth0,.h4eth0,.h5eth0{
    stroke:#00cc00 !important;
    stroke-width: 5px;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
  }
  #navOpen {
    margin: 0;
    bottom:50px;
    right: 50px;
    position: fixed;
    border-radius: 50%;
    background-color: #111;
    padding: 10px;
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */ 
    z-index: 2;
  }
#saveBtn{
    margin: 0;
    bottom:100px;
    right: 50px;
    position: fixed;
    border-radius: 50%;
    background-color: #0E86D4;
    border: #0E86D4 2px solid;
    padding: 10px;
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */ 
    z-index: 2;
}   
  #flowsTable{
    width: 100%;
    padding-top: 50px;
  }
  #flowsTable .flow{
    max-width: 100%;
    max-height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px;
    white-space:nowrap;
    padding: 2px;
    position: relative;
  }
  .c{
    max-width: 90%;
    max-height: 150px;
    position: relative;
    padding: 0;
  }
  #newFlowTable{
    margin: auto;
  }
  #newFlowTable td{
    text-align: center;
  }
  .node{
    margin: 5px;
    display: inline-block;
    white-space: normal;
  }
  .node select{
    min-width: 50px;
  }
  .insertBtn{
    border-radius: 50%;
    border: transparent;
    padding: 15px;

  }
  .delButton{
    border-radius: 50%;
    border: transparent;
    background-color: #FF2E2E;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin: auto;
  }
.confirmButton{
    border-radius: 50%;
    border: transparent;
    background-color: #32CD30;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin: auto;
  }
  button:hover{
    opacity: 80%;
    cursor: pointer;
  }